* {
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
      box-sizing: border-box;
}

.top{
  max-width: 80%;
  height: 5em;
  margin: 1em;
  padding-left: 1em;
}

.middle{
  max-width: 80%;
  height: 20em;
  margin: 1em;
}

.bottom{
  max-width: 80%;
  height: 10em;
  margin: 1em;

}

.row {
  margin: 1em;
}

.inner {
  display: inline-block;
  width: 95%;
  height: 5em;
}


.col-8 {
  width: 65%;
  height: 80%;
  margin: .8em;
  float: right;
}

.col-6 {
  width: 47%;
  height: 75%;
  margin: 1em;
}

.col-4 {
  width: 30%;
  height: 50%;
  margin: .8em;
  float: left;
}

.col-1 {
  width: 7%;
  height: 1.5em;
  display: inline-block;
}

.inner{
  height: 30%;
  padding-top: 2em;
}

.left{
  float: left;
}

.right{
  float:right;
}

.lg-border {
  border: .1em black dotted;
}

.sm-border {
  border: .1em black solid;
  text-align: center;
}

